@model pokecatalogo.Models.Pokemon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<img src="@Model.ImagemUrl" alt="@Model.Nome" class="img-thumbnail" style="max-height: 150px; max-width: 150px;" />

<h4>Pokemon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoPokedex" class="control-label"></label>
                <input asp-for="DescricaoPokedex" class="form-control" />
                <span asp-validation-for="DescricaoPokedex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altura" class="control-label"></label>
                <input asp-for="Altura" class="form-control" />
                <span asp-validation-for="Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especie" class="control-label"></label>
                <input asp-for="Especie" class="form-control" />
                <span asp-validation-for="Especie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipos" class="control-label"></label>
                <select name="Tipos" class ="form-control" asp-items="ViewBag.Tipo1Fk"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tipos" class="control-label"></label>
                <select name="Tipos" class ="form-control" asp-items="ViewBag.Tipo1Fk"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

