html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
: root {
  --pokebola-vermelho: #FF0000;
  --pokebola-preto: #000000;
  --pokebola-branco: #FFFFFF;
}

.pokemon-destaque-container {
  display: inline-block;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s ease;
}
.pokemon-destaque-imagem-link {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid var(--pokebola-black)
}